/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: sans-serif;
}
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-balham.css";

.svg {
	height: auto;
}
.svg:hover {
	cursor: pointer;
	filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
}